.cantine-box {
    box-shadow: 5px 5px 0px 0px #a86dc8, 10px 10px 0px 0px #743f91, 15px 15px 0px 0px #410e5c, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    /* grid-row-start: 1; */
    /* grid-row-end: 2; */

}

.cantine-box {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #E1AEFC83;
    overflow: hidden;
    position: relative;
}

#cantine {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    font-size: 1rem;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
}

#cutlery {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cantine-asset {
    display: block;
    position: relative;
    width: 15%;
    margin: auto;
    /* padding: 10px; */
    animation: cutlery 35s linear infinite;
    transform-origin: center;
}

/* #cantineTable th {
    width: 25%;
    font-size: 1vw;
    text-align: start;
    text-transform: capitalize;
} */

#cantineTable td {
    font-size: 1.5vw;
    padding: 0.6vw 0;
    /* padding-left: 0.4vw; */
}

#cantineBody tr td:nth-child(1) {
    text-transform: capitalize;
    width: 30%;
    /* text-align: center; */
    /* border: 0.2vw solid black;
    background-color: #662473; */
    border-radius: 0.8vw;
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0.2vw solid black; */
}

.todayFood {
    font-weight: bold;
    text-transform: capitalize;
    /* border: 0.2vw solid black;*/
    
    background-color: #E1AEFC83;
}