@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

html::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "VCR OSD Mono", "sans-serif";
    background-image:
        url("/Assets/Images/windowsbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


main {
    display: grid;
    grid-template-columns: 1.3fr 0.8fr 1.8fr;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
}


section {
    border-radius: 1rem;
    /* background-color: #FDFBE6; */
    background-color: #fefee3a0;
    margin: 0.65vw;
    box-shadow: 5px 5px 0px 0px #88C0E4, 10px 10px 0px 0px #6580B7, 15px 15px 0px 0px #486cb5, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}



.window-features {
    margin: auto 0 auto auto;
    height: 1vw;
}


.newsreel {
    justify-items: center;
    box-sizing: border-box;
    bottom: 0 !important;
    box-shadow: none;
    background-color: #ff0004ac;
    overflow: hidden;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0.65vw 0 0 0;
}


#newsfeed {
    display: flex;
    flex-direction: row;
}

.scroll-left {
    width: 100vw;
    height: 7vh;
    position: relative;
    color: #ffffff;
    transform: translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 90s linear infinite;
}

.scroll-left p {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    margin: 0 70px;
    /* Starting position */
    align-items: center;
    font-size: 2rem;
}


/* Move it (define the animation) */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes bus-asset {

    0% {
        transform: translateX(-200%);
    }

    40% {
        transform: translateX(0%);
    }

    60% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(300%);
    }
}

@keyframes jump {

    0% {
        translate: 0 0vw;
    }

    50% {
        translate: 0 0.35vw;
    }

    100% {
        translate: 0 0vw;
    }
}

@keyframes cloud {
    from {
        left: 3000px;
    }

    to {
        left: -900px;
    }

}

@keyframes move {
    from {
        left: 3000px;
    }

    to {
        left: -9000px;
    }
}

@keyframes weather {
    0% {
        transform: translateY(-0.4vw);
    }

    25% {
        transform: translateY(0.4vw);
    }

    50% {
        transform: translateY(-0.4vw);
    }

    75% {
        transform: translateY(0.4vw);
    }

    100% {
        transform: translateY(-0.4vw);
    }
}

@keyframes cutlery {
    0% {

        transform: translateX(-350%) rotateZ(-700deg);
    }

    25% {

        transform: translateX(350%) rotateZ(0deg);
    }

    50% {

        transform: translateX(-350%) rotateZ(-700deg);
    }

    75% {
        transform: translateX(350%) rotateZ(0deg);
    }

    100% {
        transform: translateX(-350%) rotateZ(-700deg);
    }

}