@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

html::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;

}

body {
    font-family: "VCR OSD Mono", "sans-serif";
    font-size: 3rem;
    background-image:
        url("/Assets/Images/windowsbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


main {
    display: grid;
    grid-template-columns: 2.5fr 0.1fr 3fr;
    margin-right: 15px;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


section {
    border-radius: 1rem;
    /* background-color: #FDFBE6; */
    background-color: #fefee3a0;
    margin: 2rem;
    box-shadow: 5px 5px 0px 0px #88C0E4, 10px 10px 0px 0px #6580B7, 15px 15px 0px 0px #486cb5, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}

p {
    font-size: 3rem;
}

.window-features {
    width: 6vw;
}



#time-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* font-size: 1vw; */
    border-radius: 0 0 1rem 1rem;
    gap: 1.6rem;
    margin-top: 4vw;
}

#time-box p {
    margin: 0;
}

#clock {
    font-size: 2vw;
}

#date {
    font-size: 1vw;
}


.bus-times-box {
    box-shadow: 5px 5px 0px 0px #FFB640, 10px 10px 0px 0px #bc8121, 15px 15px 0px 0px #835305, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}

#bus-times {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    border-radius: 0 0 1rem 1rem;

}

.boxInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.allBuses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.allBusesLine {
    background-color: #FFB640;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
    font-size: 1vw;
}

.bus-asset {
    display: flex;
    justify-self: center;
    width: 100%;
    bottom: 0;
    animation: bus-asset 12s infinite ease-in-out, jump 1.5s infinite ease-in-out;
}

.bus-animation {
    position: relative;
    overflow: hidden;
}

.clouds {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 2.2vw;
    height: 1vh;
    border-radius: 20px;
    top: 30%;
    left: 300px;
    box-shadow: 130px 50px rgb(255, 255, 255),
        180px 200px rgba(255, 255, 255, 0.684),
        50px 150px rgba(255, 255, 255, 0.748),
        300px 150px rgba(255, 255, 255, 0.927),
        400px -50px rgb(255, 255, 255),
        0px 0px rgba(255, 255, 255, 0.881);
    animation: cloud 3s linear infinite;

}


.cantine-box {
    box-shadow: 5px 5px 0px 0px #a86dc8, 10px 10px 0px 0px #743f91, 15px 15px 0px 0px #410e5c, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    grid-row-start: 1;
    grid-row-end: 2;

}

.cantine-box {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #E1AEFCac;
}

.bus-times-box {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #FFB640ac;
}

.time {
    grid-area: 1 / 2 / 3 / 3;
    background-color: #7DFFFFac;
    grid-row-start: 1;
    grid-row-end: 2;
}

.teams-box {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #70ff61ac;
}

.weather {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #746ee8ac;
    box-shadow: 5px 5px 0px 0px #746ee8, 10px 10px 0px 0px #506fae, 15px 15px 0px 0px #506fae, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}

#cantine {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    border-radius: 0 0 1rem 1rem;
}



.cantine-asset {
    display: block;
    width: 40%;
    bottom: 0;
    margin: auto;
    padding: 10px;
}

#cantineTable th {
    width: 25%;
    font-size: 1vw;
    font-weight: normal;
    text-align: start;
    text-transform: capitalize;
}

#cantineTable td {
    font-size: 1vw;
    padding: 0.6vw 0;
}


.teams-box {
    box-shadow: 5px 5px 0px 0px #ff758e, 10px 10px 0px 0px #f9294f, 15px 15px 0px 0px #830018, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    grid-row: span 2;
}

.teams-box {
    box-shadow: 5px 5px 0px 0px #31d146, 10px 10px 0px 0px #03a406, 15px 15px 0px 0px #017312, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}

#teams {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1vw;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;

}

#teams table th {
    width: 25%;
    font-size: 1.5vw;
    font-weight: normal;
}

#teams table td {
    font-size: 1.1vw;
    padding: 0.6vw 0;
}


.teams-asset {
    display: block;
    width: 40%;
    bottom: 0;
    margin: auto;
    padding: 10px;

}


#weather-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    border-radius: 0 0 1rem 1rem;
    margin: auto;
    width: 40%;
    justify-content: center;
    /* padding-bottom: 50px; */

}


#current-Weather {
    font-size: 2.6vw;
    margin: 1vw 0 0 0;
}

#weather-explanation {
    font-size: 1.6vw;
}

.img-box {
    height: 100px;
}

#weather-img {
    /* height: 50%; */
}


.newsreel {
    justify-items: center;
    box-sizing: border-box;
    bottom: 0 !important;
    box-shadow: none;
    background-color: #ff0004ac;
    overflow: hidden;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 2rem 0 0 0;
}


#newsfeed {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.scroll-left {
    width: 100vw;
    height: 7vh;
    position: relative;
    color: #ffffff;
    transform: translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 70s linear infinite;
}

.scroll-left p {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    margin: 0 50px;
    /* Starting position */
    align-items: center;
    font-size: 4rem;
}


/* Move it (define the animation) */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-850%);
    }
}

@keyframes bus-asset {

    0% {
        transform: translateX(-120%);
    }

    40% {
        transform: translateX(0%);
    }

    60% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(120%);
    }
}
@keyframes jump {

    0% {
        translate: 0 0vw;
    }

    50% {
        translate: 0 0.35vw;
    }

    100% {
        translate: 0 0vw;
    }
}

@keyframes cloud {
    from {
        left: 1900px;
    }

    to {
        left: -900px;
    }

}